flask
fastapi
uvicorn
psutil
aiofiles
aiohttp
aiosignal
beautifulsoup4
spotipy
python-dotenv
requests
ffmpeg-python
uvloop
aiocron
croniter
wget
playwright
opencv-python-headless
pymediainfo
gitpython
httpx[http2]==0.27.2
gtts
pytimeparse
regex
Pillow
pytz
pyromod==1.5
meval
aiorun
telegraph
aiosqlite
aioshutil
unidecode
speechrecognition
browser-cookie-3x
tgcrypto-pyrofork
qrcode
geopy
textblob
apscheduler
dnspython
emojis
Faker
future==1.0.0
hachoir
heroku3
img2pdf
instaloader
motor 
numpy
ntgcalls
openai==0.28.0
pickledb
pycountry
pycryptodome
pydub
cloudscraper25
pyfiglet
pykeyboard
pyyaml==6.0.1
search_engine_parser
pyrotgfork==2.2.23
##py-tgcalls~=2.2.8
speedtest-cli
python-telegram-bot
telethon
yt-dlp[default]>=2025.12.8
youtube-search
youtube-search-python
gpytranslate
git+https://github.com/jonesroot/callgram.git@master
git+https://github.com/google-gemini/generative-ai-python.git@main
git+https://github.com/FerlyKurniawan/pyrofork
git+https://github.com/FerlyKurniawan/hydrogram@dev